* {
	margin: 0;
}

.App {
	background-color: #fafafa;
	font-family: Arial, Helvetica, sans-serif;
}

.app__posts {
	padding: 20px;
	display: flex;
	justify-content: center;
}

.app__postsRight {
	margin-left: 20px;
}

.app__header {
	object-fit: contain;
	background-color: white;
	padding: 20px;
	border-bottom: 1px solid lightgray;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 4;
}

.app__signup {
	display: flex;
	flex-direction: column;
}

.app__headerImage {
	object-fit: contain;
	width: 10%;
}
